
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/*!sc*/
/*!sc*/
main {
    display: block;
}

/*!sc*/
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/*!sc*/
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/*!sc*/
pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

/*!sc*/
a {
    background-color: transparent;
}

/*!sc*/
abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*!sc*/
b,strong {
    font-weight: bolder;
}

/*!sc*/
code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

/*!sc*/
small {
    font-size: 80%;
}

/*!sc*/
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/*!sc*/
sub {
    bottom: -0.25em;
}

/*!sc*/
sup {
    top: -0.5em;
}

/*!sc*/
img {
    border-style: none;
}

/*!sc*/
button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/*!sc*/
button,input {
    overflow: visible;
}

/*!sc*/
button,select {
    text-transform: none;
}

/*!sc*/
button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
}

/*!sc*/
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/*!sc*/
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/*!sc*/
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/*!sc*/
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/*!sc*/
progress {
    vertical-align: baseline;
}

/*!sc*/
textarea {
    overflow: auto;
}

/*!sc*/
[type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/*!sc*/
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/*!sc*/
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/*!sc*/
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*!sc*/
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/*!sc*/
details {
    display: block;
}

/*!sc*/
summary {
    display: list-item;
}

/*!sc*/
template {
    display: none;
}

/*!sc*/
[hidden] {
    display: none;
}

/*!sc*/
data-styled.g1[id="sc-global-ecVvVt1"] {
    content: "sc-global-ecVvVt1,"
}

/*!sc*/
*,*:before,*:after {
    box-sizing: border-box;
}

/*!sc*/
body {
    overflow-x: hidden;
}

/*!sc*/
img {
    max-width: 100%;
}

/*!sc*/
#snack-bar {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/*!sc*/
#snack-bar > div {
    margin-top: 12px;
}

/*!sc*/
data-styled.g2[id="sc-global-DrhsH1"] {
    content: "sc-global-DrhsH1,"
}

/*!sc*/
.server-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    z-index: 999999;
}

/*!sc*/
html {
    background-color: #F5F5FA;
}

/*!sc*/
html.async-hide body {
    opacity: 0 !important;
}

/*!sc*/
a {
    color: #0B74E5;
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
a:hover {
    opacity: 0.95;
}

/*!sc*/
p {
    margin: 0 0 10px 0;
}

/*!sc*/
b,strong {
    font-weight: 500;
}

/*!sc*/
.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*!sc*/
.icon.tikinow-15 {
    width: 53px;
    height: 15px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-15.png);
    background-size: 53px 15px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .icon.tikinow-15 {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-15@2x.png);
    }
}

/*!sc*/
.icon.tikinow-26 {
    width: 91px;
    height: 26px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-26.png);
    background-size: 91px 26px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .icon.tikinow-26 {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-26@2x.png);
    }
}

/*!sc*/
.icon.thumb-up {
    width: 17px;
    height: 17px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/thumb-up.png);
    background-size: 17px 17px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .icon.thumb-up {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/thumb-up@2x.png);
    }
}

/*!sc*/
.icon.thumb-up-3x {
    width: 17px;
    height: 17px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/thumb-up-2@3x.png);
    background-size: 17px 17px;
}

/*!sc*/
.icon.reply-arrow {
    width: 19px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/reply-arrow.png);
    background-size: 19px 16px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .icon.reply-arrow {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/reply-arrow@2x.png);
    }
}

/*!sc*/
.icon.guarantee {
    width: 16px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/guarantee.png);
    background-size: 16px 16px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .icon.guarantee {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/guarantee@2x.png);
    }
}

/*!sc*/
.icon.flag-2x {
    width: 14px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/flag@2x.png);
    background-size: 14px 16px;
}

/*!sc*/
.icon.warning-svg {
    width: 16px;
    height: 17px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/warning.svg);
    background-size: 16px 17px;
}

/*!sc*/
.icon.prize {
    width: 23px;
    height: 24px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/prize.png);
    background-size: 23px 24px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .icon.prize {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/prize@2x.png);
    }
}

/*!sc*/
.tikicon.icon-bound {
    width: 16px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/bound.png);
    background-size: 16px 16px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .tikicon.icon-bound {
        background-image:url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/bound@2x.png);
    }
}

/*!sc*/
.fade-loading-animated {
    -webkit-animation-name: fadeLoading;
    animation-name: fadeLoading;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

/*!sc*/
@-webkit-keyframes fadeLoading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/*!sc*/
@keyframes fadeLoading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/*!sc*/
@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/*!sc*/
@keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/*!sc*/
data-styled.g4[id="sc-global-lowZDM1"] {
    content: "sc-global-lowZDM1,"
}

/*!sc*/
.hbqSye {
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

/*!sc*/
.hbqSye.loaded {
    opacity: 1;
}

/*!sc*/
data-styled.g11[id="styles__StyledImg-sc-p9s3t3-0"] {
    content: "hbqSye,"
}

/*!sc*/
.gsoENx {
    background-color: #F5F5FA;
}

/*!sc*/
.gsoENx .breadcrumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.gsoENx a.breadcrumb-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    color: #808089;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
}

/*!sc*/
.gsoENx a.breadcrumb-item:hover {
    color: #38383D;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

/*!sc*/
.gsoENx a.breadcrumb-item:last-child {
    color: #38383D;
    cursor: default;
    overflow: hidden;
}

/*!sc*/
.gsoENx a.breadcrumb-item:last-child span {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*!sc*/
.gsoENx a.breadcrumb-item:last-child:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
.gsoENx a.breadcrumb-item h1 {
    color: #38383D;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
}

/*!sc*/
.gsoENx .icon.icon-next {
    margin-left: 5.5px;
    margin-right: 8.5px;
}

/*!sc*/
data-styled.g24[id="Breadcrumb__Wrapper-sc-1r2fjia-0"] {
    content: "gsoENx,"
}

/*!sc*/
.fWjUGo {
    object-fit: contain;
    display: block;
}

/*!sc*/
data-styled.g37[id="WebpImg__StyledImg-sc-h3ozu8-0"] {
    content: "fWjUGo,"
}

/*!sc*/
.bCOUwr {
    width: 100%;
    position: relative;
}

/*!sc*/
.bCOUwr:hover .icon-prev,.bCOUwr:hover .icon-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
.bCOUwr .icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    border-radius: 16px;
    cursor: pointer;
    z-index: 2;
    background-color: #fff;
    padding: 6px;
}

/*!sc*/
.bCOUwr .icon.disabled {
    display: none;
}

/*!sc*/
.bCOUwr .icon-prev {
    left: 8px;
}

/*!sc*/
.bCOUwr .icon-next {
    right: 8px;
}

/*!sc*/
.bCOUwr .content {
    overflow: hidden;
}

/*!sc*/
.bCOUwr .content .slider {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    gap:8px
}

/*!sc*/
data-styled.g38[id="style__StyledSimpleSlider-sc-7g2lnm-0"] {
    content: "bCOUwr,"
}

/*!sc*/
.gGsiZr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
}

/*!sc*/
data-styled.g40[id="style__ThumbnailListStyled-sc-18wegpu-0"] {
    content: "gGsiZr,"
}

/*!sc*/
.eYAAt {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ebebf0;
    overflow: hidden;
}

/*!sc*/
.eYAAt:last-child {
    margin-bottom: 0;
}

/*!sc*/
.eYAAt.active {
    border: 2px solid #0A68FF;
}

/*!sc*/
.eYAAt .video {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 9px;
    color: #ffffff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    text-align: center;
}

/*!sc*/
.eYAAt img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*!sc*/
data-styled.g41[id="style__ThumbnailItemStyled-sc-18wegpu-1"] {
    content: "eYAAt,"
}

/*!sc*/
.rrCuf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px;
}

/*!sc*/
.rrCuf .image-frame {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ebebf0;
    position: relative;
}

/*!sc*/
.rrCuf .image-from-customer-tag {
    margin-left: 0;
    padding: 3px 8px;
    color: white;
    background: rgba(0,0,0,0.4);
    font-size: 12px;
    line-height: 150%;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

/*!sc*/
.rrCuf .image-badges {
    position: absolute;
    bottom: 0;
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

/*!sc*/
data-styled.g42[id="style__ProductImagesStyle-sc-1eco9m8-0"] {
    content: "rrCuf,"
}

/*!sc*/
.dOGdaN {
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
@media only screen and (min-width: 1440px) {
    .dOGdaN {
        width:1440px;
    }
}

/*!sc*/
data-styled.g45[id="ContainerRevamp-sc-1hvvgwz-0"] {
    content: "dOGdaN,"
}

/*!sc*/
.iHMNqO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}

/*!sc*/
data-styled.g67[id="WidgetTitle__WidgetContainerStyled-sc-1ikmn8z-0"] {
    content: "iHMNqO,"
}

/*!sc*/
.eaKcuo {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
}

/*!sc*/
.eaKcuo .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
.eaKcuo .see-all {
    font-weight: 500;
    font-size: 14px;
    color: #0A68FF;
    cursor: pointer;
}

/*!sc*/
data-styled.g68[id="WidgetTitle__WidgetTitleStyled-sc-1ikmn8z-1"] {
    content: "eaKcuo,"
}

/*!sc*/
.jMQTPW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid #EBEBF0;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #27272A;
    gap: 8px;
}

/*!sc*/
.jMQTPW:last-of-type {
    border-bottom: none;
}

/*!sc*/
data-styled.g69[id="WidgetTitle__WidgetContentStyled-sc-1ikmn8z-2"] {
    content: "jMQTPW,"
}

/*!sc*/
.eDbeCp {
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #27272A;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.eDbeCp span {
    font-weight: 400;
}

/*!sc*/
data-styled.g70[id="WidgetTitle__WidgetContentRowStyled-sc-1ikmn8z-3"] {
    content: "eDbeCp,"
}

/*!sc*/
.khZGgx {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
}

/*!sc*/
data-styled.g81[id="styles__WidgetTitleStyled-sc-1wuilku-2"] {
    content: "khZGgx,"
}

/*!sc*/
.kGLFWS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #EBEBF0;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #27272A;
    gap: 16px;
    padding-bottom: 16px;
}

/*!sc*/
.kGLFWS:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

/*!sc*/
data-styled.g82[id="styles__BodyInfoStyled-sc-1wuilku-3"] {
    content: "kGLFWS,"
}

/*!sc*/
.lcyCwA {
    border-radius: 4px;
    background: linear-gradient( -90deg,#EBEBF0 0%,#ffffff 50%,#EBEBF0 100% );
    background-size: 400% 400%;
    -webkit-animation: load 1.5s ease-in-out infinite;
    animation: load 1.5s ease-in-out infinite;
}

/*!sc*/
@-webkit-keyframes load {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}

/*!sc*/
@keyframes load {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}

/*!sc*/
data-styled.g83[id="Skeleton__SkeletonShape-sc-uekbz-0"] {
    content: "lcyCwA,"
}

/*!sc*/
.dTrovR {
    padding: 16px 0;
    background-color: #fff;
    margin-bottom: 16px;
}

/*!sc*/
data-styled.g84[id="Skeleton__SkeletonWrapper-sc-uekbz-1"] {
    content: "dTrovR,"
}

/*!sc*/
.kxHklt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*!sc*/
.kxHklt .brand-and-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

/*!sc*/
.kxHklt .brand-and-author:after {
    content: '';
    height: 9px;
    border-left: 1px solid #c7c7c7;
    display: inline-block;
    margin: 0 8px 0 8px;
}

/*!sc*/
.kxHklt .brand-and-author.no-after:after {
    content: '';
    display: none;
}

/*!sc*/
.kxHklt h6 {
    margin: 0 0 0 0;
    color: #242424;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

/*!sc*/
.kxHklt h6 > a {
    font-size: 13px;
    line-height: 20px;
    color: #0d5cb6;
}

/*!sc*/
data-styled.g87[id="BrandAuthor__BrandStyled-sc-95xwa5-0"] {
    content: "kxHklt,"
}

/*!sc*/
.jzQKwa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
data-styled.g88[id="styles__RatingStyled-sc-1swui9f-0"] {
    content: "jzQKwa,"
}

/*!sc*/
.dXPbue {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

/*!sc*/
.dXPbue .number {
    display: block;
    margin-left: 8px;
    color: #787878;
    font-size: 14px;
    line-height: 24px;
}

/*!sc*/
data-styled.g89[id="styles__StyledReview-sc-1swui9f-1"] {
    content: "dXPbue,"
}

/*!sc*/
.fctQDC {
    width: 1px;
    height: 12px;
    background-color: #c7c7c7;
    margin-left: 8px;
    margin-right: 8px;
}

/*!sc*/
data-styled.g90[id="styles__BelowTitleSeparator-sc-1swui9f-2"] {
    content: "fctQDC,"
}

/*!sc*/
.bExXAB {
    font-size: 14px;
    line-height: 24px;
    color: #787878;
}

/*!sc*/
data-styled.g91[id="styles__StyledQuantitySold-sc-1swui9f-3"] {
    content: "bExXAB,"
}

/*!sc*/
.cvyKhs {
    margin: 0;
    color: #27272a;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    word-break: break-word;
    white-space: break-spaces;
}

/*!sc*/
.cvyKhs .icon.tikinow-26 {
    position: relative;
    width: 108px;
    vertical-align: baseline;
}

/*!sc*/
.cvyKhs .icon.tikinow-26:before {
    content: '';
    position: absolute;
    right: 8px;
    bottom: 0;
    width: 1px;
    height: 17px;
    background-color: #d8d8d8;
}

/*!sc*/
data-styled.g92[id="Title__TitledStyled-sc-1kxsq5b-0"] {
    content: "cvyKhs,"
}

/*!sc*/
.kiEail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

/*!sc*/
data-styled.g94[id="Header__HeaderStyled-sc-tszvob-0"] {
    content: "kiEail,"
}

/*!sc*/
.jFWyKZ .product-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #27272A;
    gap: 8px;
}

/*!sc*/
.jFWyKZ .product-price__current-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

/*!sc*/
.jFWyKZ .product-price__discount-rate {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 0 4px;
    background: #f5f5fa;
    border-radius: 8px;
    color: #27272a;
}

/*!sc*/
data-styled.g108[id="style__StyledProductPrice-sc-zusmvx-0"] {
    content: "jFWyKZ,"
}

/*!sc*/
.iuHuWV {
    cursor: pointer;
    display: block;
    color: #242424;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    position: relative;
    background-color: white;
    outline: 0;
    padding: 4px 16px;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 8px;
}

/*!sc*/
.iuHuWV .border {
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 8px;
}

/*!sc*/
.iuHuWV span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

/*!sc*/
.iuHuWV .selected-indicator {
    position: absolute;
    top: -1px;
    right: -1px;
    display: none;
}

/*!sc*/
.iuHuWV:hover > .border,.iuHuWV.active > .border {
    border: 2px solid #0a68ff;
}

/*!sc*/
.iuHuWV:hover > .selected-indicator,.iuHuWV.active > .selected-indicator {
    display: block;
}

/*!sc*/
.iuHuWV.active {
    cursor: default;
}

/*!sc*/
.iuHuWV.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

/*!sc*/
.iuHuWV.disable:hover,.iuHuWV.disable.active {
    background-color: #f2f2f2;
}

/*!sc*/
.iuHuWV.disable:hover > .border,.iuHuWV.disable.active > .border {
    border: 2px solid rgba(0,0,0,0.05);
}

/*!sc*/
.iuHuWV.disable .selected-indicator {
    display: none;
}

/*!sc*/
data-styled.g114[id="styles__OptionButton-sc-1ts19ms-0"] {
    content: "iuHuWV,"
}

/*!sc*/
.heEOGZ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 12px;
}

/*!sc*/
data-styled.g115[id="styles__VariantSelectWrapper-sc-1pikfxx-0"] {
    content: "heEOGZ,"
}

/*!sc*/
.dthASK {
    color: #27272a;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding-right: 20px;
}

/*!sc*/
data-styled.g116[id="styles__SelectedOption-sc-1pikfxx-1"] {
    content: "dthASK,"
}

/*!sc*/
.jgDdBJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 12px;
    column-gap: 12px;
    row-gap: 8px;
}

/*!sc*/
data-styled.g117[id="styles__OptionListWrapper-sc-1pikfxx-2"] {
    content: "jgDdBJ,"
}

/*!sc*/
.jZCObm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 16px;
}

/*!sc*/
.jZCObm .option .option-name {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

/*!sc*/
.jZCObm .option .option-name span {
    color: #242424;
    font-weight: 500;
}

/*!sc*/
data-styled.g118[id="styles__ProductOptionsWrapper-sc-18rzur4-0"] {
    content: "jZCObm,"
}

/*!sc*/
.coqMVo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

/*!sc*/
data-styled.g119[id="styles__BodyContainerStyled-sc-w4gwmz-0"] {
    content: "coqMVo,"
}

/*!sc*/
.bcwozx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 8px;
}

/*!sc*/
.bcwozx .shipping-info__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2px;
    position: relative;
    margin-right: 12px;
    z-index: 1;
    font-size: 13px;
    line-height: 20px;
    color: #787878;
    width: 100%;
}

/*!sc*/
.bcwozx .shipping-info__item:last-child {
    margin: 0;
}

/*!sc*/
.bcwozx .shipping-info__item__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

/*!sc*/
.bcwozx .shipping-info__item__header__logo {
    vertical-align: middle;
    line-height: 0;
}

/*!sc*/
.bcwozx .shipping-info__item__header__highlight {
    font-size: 14px;
    line-height: 150%;
    color: #27272a;
    margin-left: 8px;
}

/*!sc*/
.bcwozx .shipping-info__item__fee {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
.bcwozx .shipping-info__item__fee_original {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

/*!sc*/
.bcwozx .shipping-info__item__fee_name,.bcwozx .shipping-info__item__fee_current {
    color: #808089;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/*!sc*/
.bcwozx .shipping-info__item__fee_current,.bcwozx .shipping-info__item__fee_original {
    margin-left: 4px;
}

/*!sc*/
.bcwozx .shipping-info__item__fee_name,.bcwozx .shipping-info__item__fee_current,.bcwozx .shipping-info__item__fee_original {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/*!sc*/
data-styled.g131[id="style__StyledShippingInfo-sc-7fwt3l-0"] {
    content: "bcwozx,"
}

/*!sc*/
.cWoPXp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    gap: 16px;
}

/*!sc*/
data-styled.g135[id="styles__StyledProductContent-sc-11yowqh-0"] {
    content: "cWoPXp,"
}

/*!sc*/
.geQtTN {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
    border-radius: 8px;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

/*!sc*/
data-styled.g136[id="styles__Wrapper-sc-1aj05m-0"] {
    content: "geQtTN,"
}

/*!sc*/
.fhifnC {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
data-styled.g138[id="RightBody__RightStyled-sc-126dmb3-0"] {
    content: "fhifnC,"
}

/*!sc*/
.dbGOOa {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 24px;
}

/*!sc*/
data-styled.g139[id="sc-gKAaRy"] {
    content: "dbGOOa,"
}

/*!sc*/
.kMthTr {
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

/*!sc*/
data-styled.g140[id="sc-iCoGMd"] {
    content: "kMthTr,"
}

/*!sc*/
.hfMLFx {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
data-styled.g142[id="Container-sc-itwfbd-0"] {
    content: "hfMLFx,"
}

/*!sc*/
.CYIiu {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #27272a;
    cursor: pointer;
}

/*!sc*/
.CYIiu > div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/*!sc*/
data-styled.g145[id="BuyBoxHeader__RightHeaderStyled-sc-1k02ehw-0"] {
    content: "CYIiu,"
}

/*!sc*/
.DxBpi {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #27272a;
}

/*!sc*/
data-styled.g150[id="styles__PriceLabelStyled-sc-1vgh3o2-0"] {
    content: "DxBpi,"
}

/*!sc*/
.egMRnV {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

/*!sc*/
data-styled.g151[id="styles__PriceStyled-sc-1vgh3o2-1"] {
    content: "egMRnV,"
}

/*!sc*/
.exLljd {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

/*!sc*/
data-styled.g152[id="styles__PriceContainerStyled-sc-1vgh3o2-2"] {
    content: "exLljd,"
}

/*!sc*/
.kVRTMZ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 12px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #ebebf0;
}

/*!sc*/
data-styled.g154[id="SellerHeader__SellerHeaderStyled-sc-1nuhgtg-0"] {
    content: "kVRTMZ,"
}

/*!sc*/
.hVrOaA {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

/*!sc*/
.hVrOaA .group-button {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 8px;
}

/*!sc*/
.hVrOaA .group-button .note {
    margin: 10px 0 0;
    color: #4a4a4a;
    font-size: 13px;
}

/*!sc*/
data-styled.g155[id="styles__StyledAddToCart-sc-h648rm-0"] {
    content: "hVrOaA,"
}

/*!sc*/
.Ketmo {
    background: #ff424e;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    color: #ffffff;
    height: 40px;
    font-size: 16px;
    line-height: 150%;
}

/*!sc*/
.Ketmo > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

/*!sc*/
data-styled.g160[id="styles__PrimaryButtonStyled-sc-72jxmg-0"] {
    content: "Ketmo,"
}

/*!sc*/
.dTjEHf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    line-height: 150%;
    color: #0a68ff;
    border: 1px solid #0a68ff;
    border-radius: 4px;
}

/*!sc*/
data-styled.g161[id="styles__SecondaryButtonStyled-sc-72jxmg-1"] {
    content: "dTjEHf,"
}

/*!sc*/
.hEzlHi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

/*!sc*/
.hEzlHi .label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

/*!sc*/
.hEzlHi .disable {
    pointer-events: none !important;
    border: 1px solid var(--button-neutral-outlined-border-disabled,rgba(196,196,207,0.3)) !important;
}

/*!sc*/
.hEzlHi .disable > img {
    opacity: 0.4;
}

/*!sc*/
.hEzlHi .group-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.hEzlHi .group-input button,.hEzlHi .group-input input {
    height: 32px;
    color: #242424;
    font-size: 14px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    border: 1px solid #a6a6b0;
    background: white;
}

/*!sc*/
.hEzlHi .group-input button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.hEzlHi .group-input button:hover {
    background-color: #ececec;
}

/*!sc*/
.hEzlHi .group-input input {
    width: 40px;
    margin: 0 4px;
}

/*!sc*/
.hEzlHi .group-input input:focus {
    border-color: #66afed;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

/*!sc*/
data-styled.g173[id="QuantityInput__Wrapper-sc-8dx8cs-0"] {
    content: "hEzlHi,"
}

/*!sc*/
.hoKyYL {
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #808089;
    background-color: white;
}

/*!sc*/
.hoKyYL.listing-revamp {
    width: 1138px;
    border-radius: 8px;
    margin-bottom: 16px;
}

/*!sc*/
@media only screen and (max-width: 1439px) {
    .hoKyYL.listing-revamp {
        width:978px;
    }
}

/*!sc*/
@media only screen and (min-width: 1440px) {
    .hoKyYL.listing-revamp {
        width:1138px;
    }
}

/*!sc*/
.hoKyYL.listing-revamp .block {
    width: auto !important;
}

/*!sc*/
.hoKyYL.listing-revamp .block.payment-information {
    width: 200px !important;
}

/*!sc*/
.hoKyYL.listing-revamp .flex {
    width: auto !important;
}

/*!sc*/
.hoKyYL.listing-revamp .separator {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

/*!sc*/
.hoKyYL p {
    font-size: 12px;
    line-height: 16px;
    color: #808089;
    margin-bottom: 12px;
    margin-top: 0px;
}

/*!sc*/
.hoKyYL .title-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #38383d;
    margin-bottom: 12px;
    margin-top: 0px;
}

/*!sc*/
.hoKyYL .small-text {
    display: block;
    margin-bottom: 8px;
    color: #808089;
}

/*!sc*/
.hoKyYL a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

/*!sc*/
data-styled.g185[id="styles__Wrapper-sc-32ws10-0"] {
    content: "hoKyYL,"
}

/*!sc*/
.cyhWKd {
    padding: 16px 0;
}

/*!sc*/
.cyhWKd .block {
    width: 226px;
}

/*!sc*/
.cyhWKd .block .store-title {
    margin-top: 24px;
}

/*!sc*/
.cyhWKd .block .icon {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

/*!sc*/
.cyhWKd .block .icon.vnpay > svg {
    width: 32px;
    height: 32px;
}

/*!sc*/
.cyhWKd .flex {
    width: 226px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
}

/*!sc*/
.cyhWKd .hotline {
    margin-bottom: 8px;
}

/*!sc*/
.cyhWKd .hotline a {
    color: #38383D;
    font-weight: 500;
}

/*!sc*/
.cyhWKd .security {
    margin-bottom: 8px;
    color: #808089;
    font-size: 12px;
    font-weight: 400;
}

/*!sc*/
.cyhWKd .security a {
    color: #808089;
}

/*!sc*/
data-styled.g186[id="styles__Information-sc-32ws10-1"] {
    content: "cyhWKd,"
}

/*!sc*/
.eUGZqm {
    padding: 16px 0;
    background-color: #ffffff;
}

/*!sc*/
.eUGZqm .address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
data-styled.g187[id="styles__Addresses-sc-32ws10-2"] {
    content: "eUGZqm,"
}

/*!sc*/
.fzxdjC {
    content: ' ';
    height: 1px;
    background-color: #EBEBF0;
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
data-styled.g188[id="styles__Separator-sc-32ws10-3"] {
    content: "fzxdjC,"
}

/*!sc*/
.fdMvyN {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #38383D;
    margin-bottom: 12px;
    margin-top: 0px;
}

/*!sc*/
data-styled.g189[id="styles__FooterHeading-sc-32ws10-4"] {
    content: "fdMvyN,"
}

/*!sc*/
.cNJLWI {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #38383D;
    margin-bottom: 4px;
    margin-top: 0px;
}

/*!sc*/
data-styled.g190[id="styles__FooterSubheading-sc-32ws10-5"] {
    content: "cNJLWI,"
}

/*!sc*/
.dNFPjn {
    padding: 16px 0px 0px;
}

/*!sc*/
data-styled.g191[id="styles__StyledCategoryList-sc-17y817k-0"] {
    content: "dNFPjn,"
}

/*!sc*/
.iBByno {
    margin-bottom: 16px;
}

/*!sc*/
.iBByno a {
    color: #808089;
}

/*!sc*/
.iBByno p {
    margin: 0px;
}

/*!sc*/
data-styled.g192[id="styles__StyledCategory-sc-17y817k-1"] {
    content: "iBByno,"
}

/*!sc*/
.gteCFh {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 20px;
}

/*!sc*/
data-styled.g193[id="styles__StyledColumns-sc-17y817k-2"] {
    content: "gteCFh,"
}

/*!sc*/
.eiBeGc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    width: 712px;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 12px;
}

/*!sc*/
@media only screen and (min-width: 1440px) {
    .eiBeGc {
        width:820px;
    }
}

/*!sc*/
.eiBeGc a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #808089;
    white-space: nowrap;
}

/*!sc*/
data-styled.g196[id="style__StyledHeaderKeyWordsRevamp-sc-1tmiyrh-1"] {
    content: "eiBeGc,"
}

/*!sc*/
.cWrfyT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-center;
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
/* .cWrfyT .tiki-logo {
    width: 164px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-center;
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
} */

/*!sc*/
/* .cWrfyT .tiki-logo > span {
    font-size: 14px;
    color: #003ea1;
    margin-top: 8px;
    font-weight: 600;
} */

/*!sc*/
data-styled.g220[id="style__Logo-sc-3sdkaq-0"] {
    content: "cWrfyT,"
}

/*!sc*/
.hULqIV {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
data-styled.g227[id="styles__Root-sc-6cbqeh-0"] {
    content: "hULqIV,"
}

/*!sc*/
/* .cTCXTh {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border: 1px solid #DDDDE3;
    border-radius: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

/*!sc*/
/* .cTCXTh .icon-search {
    width: 20px;
    height: 20px;
    margin: 0 0 0 18px;
} */

/*!sc*/
data-styled.g228[id="styles__FormRevamp-sc-6cbqeh-1"] {
    content: "cTCXTh,"
}

/*!sc*/
.IXqBC {
    border: 0px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    outline: none;
}

/*!sc*/
.IXqBC::-webkit-input-placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
.IXqBC::-moz-placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
.IXqBC:-ms-input-placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
.IXqBC::placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
data-styled.g229[id="styles__InputRevamp-sc-6cbqeh-2"] {
    content: "IXqBC,"
}

/*!sc*/
/* .LdVUr {
    cursor: pointer;
    border: 0px;
    width: 92px;
    height: 38px;
    padding: 4px;
    border-radius: 0 8px 8px 0;
    background: transparent;
    color: #0A68FF;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    outline: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
} */

/*!sc*/
.LdVUr:before {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #DDDDE3;
    height: 24px;
    left: 0;
    top: 8px;
}

/*!sc*/
.LdVUr:hover {
    background-color: rgba(10,104,255,0.2);
}

/*!sc*/
.LdVUr:active {
    background-color: rgba(10,104,255,0.4);
}

/*!sc*/
data-styled.g230[id="styles__ButtonRevamp-sc-6cbqeh-3"] {
    content: "LdVUr,"
}

/*!sc*/
.hfiWvr {
    position: relative;
    display: block;
}

/*!sc*/
.hfiWvr:hover {
    opacity: 1;
}

/*!sc*/
data-styled.g246[id="Userstyle__CartItem-sc-6e6am-14"] {
    content: "hfiWvr,"
}

/*!sc*/
.hkQlMw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 48px;
}

/*!sc*/
.hkQlMw .profile-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

/*!sc*/
.hkQlMw .arrowIcon {
    width: 16px;
    height: 16px;
}

/*!sc*/
.hkQlMw .cart-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*!sc*/
.hkQlMw .cart-wrapper .cart-icon {
    margin-right: 0;
    border-radius: unset;
}

/*!sc*/
.hkQlMw .cart-wrapper .cart-text {
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
    font-size: 13px;
    line-height: 20px;
}

/*!sc*/
data-styled.g247[id="Userstyle__RootRevamp-sc-6e6am-15"] {
    content: "hkQlMw,"
}

/*!sc*/
.jbrHBQ {
    color: #ffffff;
    background: #FF424F;
    height: 16px;
    right: 0;
    top: -4px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    position: absolute;
    padding: 0.5px 4px;
}

/*!sc*/
data-styled.g248[id="Userstyle__ItemCartQtyRevamp-sc-6e6am-16"] {
    content: "jbrHBQ,"
}

/*!sc*/
.fUChpf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

/*!sc*/
.fUChpf:hover {
    background-color: rgba(39,39,42,0.12);
}

/*!sc*/
.fUChpf:active {
    background-color: rgba(39,39,42,0.24);
}

/*!sc*/
.fUChpf img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
}

/*!sc*/
.fUChpf a,.fUChpf > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #808089;
}

/*!sc*/
.fUChpf:hover .toggler {
    display: block;
}

/*!sc*/
.bhXqXQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

/*!sc*/
.bhXqXQ:hover {
    background-color: rgba(0,96,255,0.12);
}

/*!sc*/
.bhXqXQ:active {
    background-color: rgba(0,96,255,0.24);
}

/*!sc*/
.bhXqXQ img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
}

/*!sc*/
.bhXqXQ a,.bhXqXQ > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #0A68FF;
}

/*!sc*/
.bhXqXQ:hover .toggler {
    display: block;
}

/*!sc*/
data-styled.g251[id="Userstyle__MenuItemRevamp-sc-6e6am-19"] {
    content: "fUChpf,bhXqXQ,"
}

/*!sc*/
.iZYkSb {
    padding: 0 !important;
    margin-left: 24px;
    position: relative;
}

/*!sc*/
.iZYkSb:before {
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    left: -12px;
    border: 1px solid #EBEBF0;
}

/*!sc*/
data-styled.g252[id="Userstyle__CartItemInnerRevamp-sc-6e6am-20"] {
    content: "iZYkSb,"
}

/*!sc*/
.edlkEo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0 10px 0;
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

/*!sc*/
.edlkEo .logo-menu {
    margin-right: 48px;
    -webkit-flex-basis: unset;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
}

/*!sc*/
data-styled.g253[id="Middle__Wrap-sc-vop1h1-0"] {
    content: "edlkEo,"
}

/*!sc*/
.hBRVdJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
data-styled.g254[id="Middle__LeftContainer-sc-vop1h1-1"] {
    content: "hBRVdJ,"
}

/*!sc*/
/* .eDISBe {
    position: relative;
    background: #ffffff;
    padding: 8px 0;
    z-index: 999;
} */

/*!sc*/
.eDISBe.main-header-sticky {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/*!sc*/
.eDISBe * {
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
}

/*!sc*/
data-styled.g256[id="style__HeaderRevamp-sc-q53692-1"] {
    content: "eDISBe,"
}

/*!sc*/
.cQFmlA {
    margin-bottom: 3px;
    max-width: 348px;
    -webkit-flex: 0 0 348px;
    -ms-flex: 0 0 348px;
    flex: 0 0 348px;
}

/*!sc*/
.cQFmlA .delivery-zone__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/*!sc*/
.cQFmlA .delivery-zone__heading img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

/*!sc*/
.cQFmlA .delivery-zone__heading > h4 {
    margin: 0px;
    display: block;
    color: #808089;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding-right: 4px;
    white-space: nowrap;
}

/*!sc*/
.cQFmlA .delivery-zone__heading .address {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #27272A;
}

/*!sc*/
data-styled.g258[id="Location__WrapperRevamp-sc-1abff9p-0"] {
    content: "cQFmlA,"
}

/*!sc*/
.kQvPKa {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1;
}

/*!sc*/
data-styled.g259[id="Bottom__Root-sc-11t05ag-0"] {
    content: "kQvPKa,"
}

/*!sc*/
.huqeuo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 8px;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/*!sc*/
data-styled.g262[id="HomeRevampHeader__SearchContainerStyled-sc-1n94l81-0"] {
    content: "huqeuo,"
}

/*!sc*/
/* .bflSia {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 48px;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
} */

/*!sc*/
data-styled.g263[id="HomeRevampHeader__HeaderLayout-sc-1n94l81-1"] {
    content: "bflSia,"
}

/*!sc*/
.deta{
    display:flex;
    flex-direction:column;
    width:400px;
    background:white;
    position:sticky;
    top:12px;
    gap:16px;
    padding:16px 0px 12px 0px
}
.pictr{
    width:368px;
    height:368px
}
.ima{
    position:relative;
    cursor:pointer
}
.name{
    width:368px;
    height:368px;
    z-index:2;opacity:1
}
.star{
    margin-right:4px;
    font-size:16px;
    line-height:150%;
    font-weight:500
}
.star_s{
    display:flex
}
.checked {
    color: yellow;
}
.price{
    display:flex;flex-direction:column;gap:2px
}
.product_c{
    height:550px
}
.tt{
    position:sticky;
    top:12px;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    gap:12px
}
.ss{
    gap:16px;overflow:initial
}
.pad{
    display:flex;gap:8px;align-items:center;height:65px
}
.seller{
    display:flex;
    flex-direction:column;
    gap:8px
}
.vison{
    display:grid;
    grid-template-columns:40px 1fr;
    gap:8px;align-items:center
}
.bor{
    border-top:none
}
.quan{
    display:flex;flex-direction:column;gap:8px
}
.gia{
    display:flex;align-items:center;gap:8px
}
.tes{
    gap:16px
}
.fi{
    display:flex;flex-direction:column;gap:6px
}
.sy{
    width:89px;
    height:20px;
    opacity:1
}
.main{
    width:47px
}
.sta{
    display:flex
}
@media only screen and (max-width: 600px) {
    .star {
        margin: 0 5px 0 5px;
        font-size: 7px;
        line-height: 150%;
        font-weight: 500;
    }
  }